@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b0f1a;
}

html, body {
  height: 100%;
}

body {
  @apply bg-neutral-50 text-neutral-900 antialiased;
}

.container-max {
  @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
}

